.cart-item {
    font-size: 1.2rem;
    font-family: "montserrat";
    
    @media(max-width: 480px) {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        border-bottom: 1px grey solid;

        >td:nth-child(1) {
            display: block;
            width: 100%;
            
        }
        td:nth-child(3) {
            order:1;
        }

        >td {
            border: none;
            display: inline-block;
        }
        
    }

    
}

.cart--heading {
    text-align: center;
    

}

.table-headings {
    @media(max-width: $breakpoint) {
        display: none;
        
    }
}

.cart--main-cell {
    display: flex;
    align-items: center;
    @media(max-width: $breakpoint) {
        
        flex-direction: column;
        
        width: 100%;
        
        
        
    }
    
}

.cart--main-cell__image {
    width: 30%;

    @media(max-width: $breakpoint) {
        
        flex-direction: column;
        width: 100%;
    }
}

.checkout-row {
    display: flex;
    justify-content: flex-end;
    h5 {
    font-size: 1.7rem;
    font-family: "montserrat";
    }

    @media(max-width: $breakpoint) {
        justify-content: center;
        
    }
    

}

.cart-container {
    text-align: center;

}