.share-block {
    display: flex;
    align-items: center;
    div:focus{
        outline: none;
    }
}

.share-block::before {
    content: "Share:";
    height: 100%;
    font-family: "montserrat";
    font-weight: 500;
    margin-right: 10px;
}